/* import pages css */
@import url("./pages/home/home.css");
@import url("./pages/natureNomads/nomads.css");
@import url("./pages/MassiveMashupClub/mmc.css");
@import url("./pages/whiskeyTasting/whiskey.css");
@import url("./pages/dandelionJazzClub/dandelion.css");
@import url("./pages/comedyClub/comedyClub.css");
@import url("./pages/createEvent/createForm.css");
@import url("./pages/login/loginReg.css");
@import url("./pages/myPage/myPage.css");

/*SIMPLE RESET CSS*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url("images/bg.png");
  background-position-x: 40%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: auto;
  background-color: rgba(0, 0, 0, 0.553);
  background-blend-mode: multiply;
}

#navScroll {
  color: white;
  display: flex;
  z-index: 1;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: black;
  height: 70px;
  min-width: fit-content;
  font-family: "Oswald", sans-serif;
}

.userBtn {
  display: flex;
  position: absolute;
  top: 10px;
  right: 15px;
}

.circleBtn {
  display: flex;
  margin-top: 10px;
}

.home {
  display: flex;
  margin-top: 15px;
  margin-right: 10px;
  margin-left: 10px;
  font-weight: bold;
  font-size: x-large;
}
