/* import pages css */
@import url("./pages/home/home.css");
@import url("./pages/natureNomads/nomads.css");
@import url("./pages/comedyClub/comedyClub.css");
/*@import url("pages/dandelionjazzclub.css");*/
@import url("./pages/createEvent/createForm.css");
/*SIMPLE RESET CSS*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: none;
}
#navScroll {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #222;
  padding: 2em;
  color: #fff;
}
