:root {
  --ff-english: "IM Fell English SC", serif;
  --ff-poppins: "Poppins", sans-serif;
  --ff-roboto-slab: "Roboto Slab", serif;
  --ff-uncial: "Uncial Antiqua", cursive;
}
.header {
  background-image: url("images/krisjanis-mezulis-__E07WwlywA-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.429);
  background-blend-mode: multiply;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.391);
  padding: 2em;
  color: #fff;
  font-family: var(--ff-poppins);
}
.logo {
  font-size: 4rem;
  margin-left: 0.2em;
  font-family: var(--ff-english);
}
.nav__items {
  display: flex;

  gap: 2em;
  font-size: 1.2rem;
  margin-right: 2em;
}
.hero {
  color: #fff;
  display: flex;
  justify-content: space-between;
  min-height: 28em;
}
.hero__intro {
  font-size: 1.8rem;
  margin-left: 2em;
  margin-top: 3em;
  color: #fff;
  max-width: 30ch;
  font-family: var(--ff-english);
}
.hero__text {
  max-width: 40ch;
  align-self: flex-end;
  margin-bottom: 3em;
  margin-right: 3em;
  line-height: 1.65;
  font-family: var(--ff-poppins);

  padding: 0.5em;
  font-size: 1.2rem;
}
.in__line {
  color: #ad3621;
}
.event-info {
  display: flex;
  gap: 2em;
}
.event-info {
}
