:root {
  --fs-small: 1.2rem;
  --fs-medium: 1.8rem;
  --fs-large: 2.2rem;
  --fs-xlarge: 4rem;

  --padding-small: 0.5em;
  --padding-medium: 2em;
  --padding-large: 3em;

  --margin-small: 0.5em;
  --margin-medium: 1em;
  --margin-large: 2em;

  --ff-english: "IM Fell English SC", serif;
  --ff-poppins: "Poppins", sans-serif;
  --ff-roboto-slab: "Roboto Slab", serif;
  --ff-uncial: "Uncial Antiqua", cursive;
}

.massive-header {
  background-image: url("images/Blue.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.429);
    background-blend-mode: multiply;
}

.massive-nav {
  display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.391);
    padding: var(--padding-medium);
    color: #f5f5f5;
    font-family: var(--ff-poppins);
}

.massive-intro {
  min-height: 35rem;
}

.massive-nav_items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.391);
    padding: var(--padding-medium);
    color: #f5f5f5;
    font-family: var(--ff-poppins);
    
  }

  .massive-nav__items a {
    color: wheat;
  }

.massive-logo {
  color: wheat;
}

  p {
    color:wheat;
    font-size: var(--fs-medium);
  }

.massive-intro {
    position: relative;
    z-index: 2;
    color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    min-height: 28em;
}

.pitch__intro {
    font-size: var(--fs-medium);
    margin-left: var(--margin-large);
    margin-top: var(--margin-large);
    color: rgb(255, 179, 39);
    max-width: 30ch;
    font-family: var(--ff-english);
    text-shadow: 5px 5px 10px #000000;
}

.pitch__text {
    position: relative;
    max-width: 40ch;
    align-self: flex-end;
    margin-bottom: var(--margin-large);
    margin-right: var(--margin-large);
    line-height: 1.65;
    font-family: var(--ff-english);
    padding: var(--padding-small);
    font-size: var(--fs-small);
}

  #massive-wrap {
    height: 300px;
  }

    .massive-calender-title {
      position: relative;
      font-family: var(--ff-poppins);
      text-transform: uppercase;
      margin-left: var(--margin-large);
      margin-top: var(--margin-large);
    }
  
    .calender-title::after {
      position: absolute;
      content: "";
      width: 2em;
      height: 5px;
      left: 0;
      bottom: 0;
  
      background-color: #906b3c;
    }
  
    .massive-event-container {
      margin: var(--margin-large);
      padding: var(--padding-medium);
      border: solid 2px black;
      font-family: var(--ff-poppins);
    }
  
    .event-title {
      font-family: var(--ff-english);
      font-size: var(--fs-large);
      letter-spacing: 1.5px;
      color: #2f4858;
    }
  
    .event-info {
      display: grid;
      grid-template-columns: minmax(0, 8em) 1fr minmax(0, 8em);
      align-items: center;
      padding-bottom: var(--padding-medium);
      column-gap: 2em;
      margin-top: var(--margin-large);
      border-bottom: #060606 solid 0.5px;
    }
  
    .event-desc {
      font-weight: 100;
      line-height: 1.65;
      color: #2f4858;
    }
  
    .date-time {
      padding: var(--padding-small);
      font-size: 1.5rem;
      font-weight: 900;
      text-align: center;
  
      color: #2f4858;
    }